.graph_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph_container canvas {
  min-width: 100%;
}

.graph_button_container {
  display: flex;
  align-items: center;
}

.icon_button {
  background-color: var(--blue_2);
  color: white;
  border: none;
  margin: 20px 0;
  padding: 10px 40px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_button:hover {
  opacity: 80%;
}

.icon_button_disable {
  background-color: var(--subtitle_color);
  cursor: default;
}

.icon_button_disable:hover {
  opacity: 100%;
}

.left {
  border-radius: 4px 0 0 4px;
}

.right {
  border-radius: 0 4px 4px 0;
}

.icon_button:active:not(.icon_button_disable) {
  background-color: var(--blue_1);
}

.icon {
  fill: var(--white);
  height: 32px !important;
  width: 32px !important;
  margin: 0;
  padding: 0;
}

.icon_left {
  rotate: 180deg;
}

.icon_right {
  rotate: 0;
}
